<strong>Olá, {{ student_name }} </strong>
<p>Você acaba de se matricular em um dos planos da GymPoint, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan_name }} <br />
  <strong>Duração: </strong> {{ plan_duration }} <br />
  <strong>Valor: R$</strong> {{ plan_price }} <br />
  <strong>Data de Início: </strong> {{ plan_startDate }} <br />
  <strong>Data de Término: </strong> {{ plan_endDate }} <br />
  <br />
  <br />
  Seja muito bem-vindo ao GymPoint!
</p>
